.aboutMeTopPhContainer {
	max-width: 1300px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 40px;
}

.aboutMeTopPhPolaroid {
	width: clamp(200px, 40vw, 400px);
	height: auto;
}

.aboutMeTopPhAbout {
	width: clamp(150px, 40vw, 400px);
	height: auto;
	margin-top: auto;
	margin-bottom: 20px;
}
