.instaLinkContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: fit-content;
}

.instaLinkImage {
	width: clamp(20px, 4vw, 60px);
	height: auto;
	margin-right: clamp(8px, 2vw, 20px);
	object-fit: contain;
}

.instaLinkText {
	font-size: clamp(18px, 2.5vw, 36px);
	width: fit-content;
}
