.buttonContainer {
	width: 228px;
	height: 62px;
	border: 1px solid var(--color-black);
	align-items: center;
	justify-content: center;
	display: flex;
	cursor: pointer;
}

.buttonText {
	font-size: 24px;
	font-weight: 400;
	color: var(--color-black);
}
