.buttonContainer {
	width: clamp(150px, 30vw, 228px);
	height: clamp(50px, 8vw, 62px);
	border: 1px solid var(--color-black);
	align-items: center;
	justify-content: center;
	display: flex;
	cursor: pointer;
}

.buttonText {
	font-size: clamp(16px, 3vw, 24px);
	font-weight: 400;
	color: var(--color-black);
}
