.visualArtHeaderContainer {
	max-width: 1600px;
	margin: 0 auto clamp(10px, 4vw, 20px) auto;
	gap: clamp(20px, 4vw, 40px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
}

.visualArtHeaderText {
	text-align: center;
}
