.visualArtHeaderContainer {
	max-width: 1600px;
	margin: 0 auto clamp(10px, 4vw, 20px) auto;
	gap: clamp(20px, 4vw, 40px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
}

.visualArtHeaderText {
	color: var(--color-black);
	text-decoration: none;
	font-size: clamp(24px, 2.5vw, 38px);
	text-align: center;
}

@media (max-width: 768px) {
	.visualArtHeaderText {
		font-size: clamp(16px, 4vw, 20px);
	}
}
