* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}

img,
video {
	max-width: 100%;
	height: auto;
	display: block;
}

html {
	overscroll-behavior-y: none;
}

body {
	font-family: var(--font-body);
	font-weight: 300;
	background-color: var(--color-background);
	color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overscroll-behavior-y: none;
}

button,
input,
textarea,
select {
	font: inherit;
	background: none;
	border: none;
	outline: none;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	color: inherit;
	font: inherit;
	padding: 0;
	margin: 0;
	cursor: pointer;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

button:focus,
button:active {
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

*:focus {
	outline: none;
}

::-webkit-scrollbar {
	display: none;
}

div:focus,
div:active {
	outline: none;
	-webkit-tap-highlight-color: transparent;
}
