.contactContainer {
	margin: clamp(80px, 20vw, 120px) auto 0 auto;
	padding-bottom: clamp(70px, 11vw, 100px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-self: center;
}

.contactDotInfoContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: fit-content;
}

.contactDot {
	width: clamp(26px, 4vw, 38px);
	height: clamp(26px, 4vw, 38px);
	display: inline-block;
	margin-right: clamp(4px, 1vw, 20px);
	padding: 6px;
}

.contactText {
	font-size: clamp(18px, 2.5vw, 36px);
	width: fit-content;
}

.contactSpacer {
	height: auto;
	width: clamp(370px, 80vw, 1000px);
	object-fit: contain;
	z-index: 0;
}

.contactMarginBottom {
	margin-bottom: clamp(40px, 6vw, 80px);
}

.contactMarginTop {
	margin-top: clamp(10px, 4vw, 50px);
}
