.instaLinkLightContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: fit-content;
}

.instaLinkLightImage {
	width: clamp(20px, 4vw, 40px);
	height: auto;
	margin-right: clamp(8px, 2vw, 14px);
	object-fit: contain;
}

.instainstaLinkLightTextLinkText {
	font-size: clamp(18px, 2.5vw, 36px);
	width: fit-content;
}
