.header {
	width: 100%;
	height: clamp(50px, 10vw, 70px);
	background-color: var(--color-white);
	padding: 0 clamp(16px, 3vw, 40px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: transform 0.3s ease-in-out;
	z-index: 1000;
}

.header--visible {
	transform: translateY(0);
}

.header--hidden {
	transform: translateY(-100%);
}

.headerNameImg {
	height: clamp(24px, 5vw, 40px);
}

.headerBurgerImg {
	width: 30px;
	height: 30px;
	cursor: pointer;
}
