.videoBgContainer {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.videoBg {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.videoBgButtonsContainer {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	z-index: 999;
}
