.collaborationContainer {
	margin-top: clamp(80px, 8vw, 120px);
	margin-bottom: clamp(60px, 16vw, 160px);
}

.collaborationMainText {
	text-align: center;
}

.collaborationContentContainer {
	margin-top: clamp(20px, 4vw, 50px);
	gap: 40px;
	display: flex;
	flex-direction: column;
	padding-right: clamp(20px, 8vw, 190px);
	padding-left: clamp(10px, 9vw, 90px);
	justify-content: space-between;
}

.collaborationText {
	max-width: clamp(480px, 50vw, 790px);
	text-align: start;
}

.collaborationText:nth-child(2) {
	margin-left: auto;
}

@media (max-width: 768px) {
	.collaborationContentContainer {
		padding-right: clamp(10px, 4vw, 40px);
		padding-left: clamp(10px, 4vw, 40px);
		gap: clamp(20px, 4vw, 30px);
	}
	.collaborationText {
		max-width: clamp(320px, 80vw, 400px);
	}
}
