.introducingContainer {
	margin-top: clamp(20px, 8vw, 40px);
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
}

.introducingTextContainer {
	min-width: 320px;
	width: clamp(300px, 50vw, 783px);
	display: block;
	height: auto;
	margin-left: clamp(16px, 4vw, 50px);
}

.introducingMainText {
	text-align: center;
}

.introducingMainText:nth-child(1) {
	margin-bottom: clamp(10px, 2vw, 33px);
}

.introducingMainText:nth-child(2) {
	margin-bottom: clamp(10px, 2vw, 41px);
}

.introducingIllustration {
	margin-left: clamp(20px, 3vw, 60px);
	min-width: 320px;
	width: clamp(320px, 39vw, 600px);
}

.introducingPhoto {
	margin-left: 20px;
	margin-right: clamp(-76px, 4vw, -10px);
	height: auto;
	object-fit: cover;
	max-width: 1200px;
	min-width: 500px;
	width: clamp(500px, 80vw, 1500px);
}

@media (max-width: 768px) {
	.introducingContainer {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.introducingTextContainer {
		margin: 0;
		padding: 0 10px;
		width: clamp(300px, 90vw, 600px);
	}

	.introducingMainText {
		text-align: start;
	}

	.introducingIllustration {
		margin-left: auto;
		margin-right: clamp(0px, 4vw, 60px);
		margin-top: 30px;
		width: clamp(260px, 70vw, 400px);
	}

	.introducingPhoto {
		margin-right: clamp(1px, 3vw, 60px);
		margin-left: 0;
		margin-top: 30px;
		width: clamp(340px, 90vw, 650px);
		min-width: 340px;
	}
}
