.tattooContainer {
	margin: clamp(70px, 11vw, 100px) 0;
	padding-bottom: clamp(70px, 11vw, 100px);
}

/* .tattooLink {
	max-width: 1100px;
	margin: clamp(10px, 4vw, 20px) auto 0 auto;
	padding: 0 20px;
	transition: color 0.3s ease;
	text-align: center;
}

.tattooLink:hover {
	color: var(--color-gray);
} */

.tattooLink {
	width: 100%;
	margin-top: 20px;
	justify-content: center;
}
