.tattooVideoBgContainer {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: var(--color-white);
}

.tattooVideoBgButtonsContainer {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	gap: clamp(20px, 2vw, 40px);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.tattooVideoBgVideo {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-color: var(--color-white);
	z-index: 1;
}
